<article class='local-forecast'>

  <div class='forecast-header'>
    <h2 id="location">{{location}}</h2>
    <h3 id="date">{{date}}</h3>
    <h1 id="main-temp"> {{temp}} <span>&#8457;<span></h1>
  </div>

  <div class="forecast-item">
      <p id='first-time' class='timeOfDay'>noon</p>
      <img src="assets/sunny-use.png">
      <p class='subTemp'>{{noonD}}</p>
  </div>

  <div class="forecast-item">
      <p id='second-time' class='timeOfDay'>afternoon</p>
      <img src="assets/cloudy-use.png">
      <p class='subTemp'>{{afternoonD}}</p>
  </div>

  <div class="forecast-item">
      <p id='third-time' class='timeOfDay'>evening</p>
      <img src="assets/sunny-use.png">
      <p class='subTemp'>{{eveningD}}</p>
  </div>

  <div class="forecast-item">
      <p id='fourth-time' class='timeOfDay'>tonight</p>
      <img src="assets/cloudy-use.png">
      <p class='subTemp'>{{tonightD}}</p>
  </div>

  <div class="wind-section">
    <h3 id="current-speed">{{curSp}}<span>mph</span></h3>
    <img src="assets/wind-sm.png">
    <div class='wind-wrapper'>
      <p id='first-wind'>{{ow}}</p>
      <p id='second-wind'>{{sw}}</p>
      <p id='third-wind'>{{tw}}</p>
      <p id='fourth-wind'>{{fw}}</p>
    </div>
  </div>

</article>
