<article id='{{zipCode}}' class="sub-display" onmouseover='{{disappear}}' onmouseout='{{appear}}'>
  <div id='back' class='hidden'>
  <button class="sub-delete" onclick="{{remove}}">Delete</button>
  </div>

  <div id='front'>
  <h1>{{temperature}}<span>&#8457;</span></h1>
  <h2>{{location}}</h2>
</div>
</article>
